h1 {
  background-color: #c5e633;
  color: black;
  text-align: center;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

body {
  background-color: #fefbd8;
}

#mapId {
  width: 500px;
  height: 670px;
  position: absolute;
}

#soillegend {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 80px;
  left: 520px;
}

#drainagelegend {
  position: absolute;
  width: 100px;
  height: 150px;
  top: 431px;
  left: 520px;
}


/* Popup container */
#popup {
  position: absolute;
  top: 760px;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
#popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: relative;
  z-index: 100;
  bottom: 0%;
  left: 13%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
#popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
