h1 {
  background-color: #c5e633;
  color: black;
  text-align: center;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  /* color: orange; */
  /* margin: 100px 0; */
}

body {
  background-color: #fefbd8;
}

#mapId {
  width: 440px;
  height: 530px;
  position: absolute;
}

#soillegend {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 620px;
  
}

.resize {
  width: 440px;
  height: auto;
  left: 0px;
}

#video {
  position: absolute;
  top: 760px;
}

/* Popup container */
/* #popup {
  position: absolute;
  top: 760px;
  left: 60px;
  display: inline-block;
  cursor: pointer;
} */

/* The actual popup (appears on top) */
/* #popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: relative;
  z-index: 100;
  bottom: 0%;
  left: 13%;
  margin-left: -80px;
} */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
/* #popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
} */

#my_soilMatrix {
  position: absolute;
  top: 0px;
  left: 450px;
}

#my_drainageMatrix {
  position: absolute;
  top: 350px;
  left: 450px;
}

.tooltip {
  width: 130px;
  position: absolute;
}

.tooltip2 {
  width: 130px;
  position: absolute;
}

/* Starts here for button info */

body {
  font-family: Arial, sans-serif;
  /* background: url(4.jpg); */
  background-size: cover;
}

.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 700px;
  /* border: 2px solid #fff; */
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: orange;
  border: 2px solid orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: relative;
}
.button:hover {
  background: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 90000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
